body {
  background-image: url("background.png");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #161618;
  color: #f1e7f8;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition-duration: 0.2s;
}

.remote {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.workspace {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.main {
  background-color: #303030;
  opacity: 0.75;
  height: auto;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	transition-duration: 0.4s;
}

.main:hover {
  opacity: 1;
}

.main.bar {
  margin-top: 20px;
  position: relative;
	max-width: 880px;
	min-width: 320px;
	background-color: #545454;
	display: flex;
	opacity: 1;
}

.main.monitor {
  float: left;
	min-width: 320px;
}

.main.message {
  float: left;
	min-width: 320px;
}

.form {
  display: flex;
}

.main.chat {
  float: right;
  width: 100%;
}

.main.chrono {
  background-image: url("sunmoonh2.svg"), url("panehalf.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: bottom center, bottom center;
  float: right;
  width: 100%;
  background-color: #aaaaaa;
  opacity: 1;
  color: #110e13;
  text-shadow:
    1px 1px 2px #00000044,
    0 0 1em #ffffff44,
    0 0 0.2em #ffffff44;
  transition-duration: 1s;
}

.main.clock {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 32pt;
  opacity: 1;
  background-color: #aaaaaa;
  color: #110e13;
  float: right;
  padding: 16px 24px;
}

.indicator {
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 4px 4px;
  background-color: #aaaaaa;
}

.action {
  background-color: #1e1e1e;
  border-color: transparent;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  color: #f1e7f8;
  padding: auto;
  font-weight: bold;
}

.action:hover {
  background-color: #161618;
}

.chatter {
  background-color: #7789c9;
  border-color: transparent;
  border-radius: 5px;
  color: #f1e7f8;
}

.chatter:hover {
  background-color: #006bfa;
}

.small {
  font-size: 8pt;
}

.fineleft {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  font-size: 10pt;
}

.fineright {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 10pt;
  color: #7789c9;
}

.sender {
  width: 100%;
  background-color: #000000;
  border-color: transparent;
  outline: none;
  border-radius: 2px;
  color: #f1e7f8;
  margin-right: 10px;
}

.namer {
  width: 122px;
  background-color: #161618;
  border-color: transparent;
  outline: none;
  border-radius: 2px;
  color: #7789c9;
}

.iconed {
  padding: 4px 4px;
}

.day{
  max-width: 50%;
  margin-bottom: 2px;
  font-size: 26pt;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.barright {
  margin-left: auto;
  display: flex;
}

.baredge {
  display: grid;
}

.ip {
  margin-top: auto;
  text-align: center;
  margin-bottom: auto;
  min-width: 160px;
  background-color: #161618;
  border-radius: 2px;
  font-size: 10pt;
  transition-duration: 0.4s;
  padding: 4px;
}

.ip:hover {
  background-color: #aaaaaa;
  color: #000000;
  font-weight: bold;
}

.daytime {
  max-width: 40%;
  margin-top: 36px;
  margin-bottom: auto;
  font-size: 8pt;
  font-family: 'Trebuchet MS', sans-serif;
}

.follower {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 8pt;
  font-weight: bold;
}

.lamp {
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: auto;
  font-size: 12pt;
  font-family: 'Trebuchet MS', sans-serif;
  color: #aaaaaa;
}

.diode {
  max-height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}
